input{
    outline: none;
}

button{
    outline: none;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    margin-top: 30px;
}

.content_view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}


.content_repositori{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E1E4E8;
    margin-top: 30px;
}

.content_repositori_view{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 410px;
    height: 310px;
    border-bottom: 1px solid #E1E4E8;
    margin-top: 30px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.content_repositori_content{
    display: flex;
}

.content_repositori_content_view{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}


.content_repositori_content_input{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 0px;
}

.content_repositori_content_input_view{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 0px;
}


.content_repositori_text{
    margin-left: 20px;
    order: 1;
}

.content_repositori_text_view{
    margin-left: 20px;
    order: -3;
}

.content_repositori_text_name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #0366D6;
    margin: 0px;
    margin-bottom: 4px;
}

.content_repositori_text_description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    margin: 0px;
    margin-bottom: 27px;
}

.content_repositori_text_language{
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 0px;
    width: auto;
    height: auto;
    background-color: #F1F8FE;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    border-radius: 15px;
}


.content_repositori_star{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    order: 1;
    margin-top: 0px;
    margin-inline: 0px;
}

.content_repositori_star_view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-top: 25px;
    margin-inline: 30px;
    order: -3;
}

.fa-star{
    color: #F1E05A;
    font-size: 25px;
    margin-right: 9px;
}

.content_repositori_star_icon{
    display: flex;
}

.content_repositori_star_language{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    color: #999999;
    margin: 0px;
    order: 1;
}

.content_repositori_star_language_view{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    color: #999999;
    margin: 0px;
    order: -3;
}


.content_repositori_star_icon_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}


.notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 130px;
}

.notFound_h{
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #0366D6;
}

.notFound_p{
    font-size: 26px;
    margin-top: 10px;
}


.myList_text{
    width: 950px;
    margin: 0 auto;
    margin-top: 30px;
}


.content_repositori_content_checkbox{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.5px;
    line-height: 17px;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #0366D6;
}

.content_repositori_content_checkbox_view_remove{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.5px;
    line-height: 17px;
    width: 129px;
    height: 36px;
    padding: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    background-color: #EB5757;
}





.content_repositori_content_checkbox_view{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.5px;
    line-height: 17px;
    width: 129px;
    height: 36px;
    padding: 5px;
    background-color: #0366D6;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
}