input{
    outline: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C4146;
    padding-top: 5px;
    padding-bottom: 5px;

}

.nav_logo{
    display: flex;
    margin-left: 30px;
}

.fa-github{
    position: absolute;
    font-size: 35px;
    background-color: white;
    top: 20px;
    left: 45px;
}

.fa-search{
    position: relative;
    font-size: 60px;
    color: white;
}


.nav_logo_text{
    margin-left: 12px;
}

.nav_logo_text_git{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 5px;
}

.nav_logo_text_search{
    color: #B3BCC7;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.nav_menu{
    margin-right: 30px;
}

.nav_menu_search{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #3C4146;
    border: none;
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.nav_menu_mylist{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #3C4146;
    border: none;
    color: white;
    text-decoration: none;
}

.search{
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    margin-top: 35px;
}

.search_type{
    min-width: 205px;
    border-bottom: 1px solid #0366D6;
}

.search_type_input{
    width: 100%;
    border: none;
    height: 90%;
}

.search_language{
    min-width: 205px;
    border-bottom: 1px solid #0366D6;
}

.search_language_input{
    width: 100%;
    border: none;
    height: 90%;
}

.search_typeSearch{
    min-width: 336px;
    border-bottom: 1px solid #0366D6;
}

.search_typeSearch_input{
    width: 100%;
    border: none;
    height: 90%;
}

.search_button{
    width: 129px;
    height: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    color: white;
    background-color: #0366D6;
    border: none;
}

.view{
    display: flex;
    justify-content: flex-end;
    width: 950px;
    margin: 0 auto;
    margin-top: 32px;
}

.fa-bars{
    font-size: 32px;
    background-color: white;
    border: none;
}

.fa-th-large{
    font-size: 32px;
    background-color: white;
    border: none;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    margin-top: 30px;
}

.content_repositori{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E1E4E8;
    margin-top: 30px;
}

.content_repositori_content{
    display: flex;
}


.content_repositori_text{
    margin-left: 20px;
}

.content_repositori_text_name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #0366D6;
    margin: 0px;
    margin-bottom: 4px;
}

.content_repositori_text_description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    margin: 0px;
    margin-bottom: 27px;
}

.content_repositori_text_language{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 0px;
}


.content_repositori_star{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.fa-star{
    color: #F1E05A;
    font-size: 25px;
    margin-right: 9px;
}

.content_repositori_star_icon{
    display: flex;
}

.content_repositori_star_language{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 17px;
    color: #999999;
    margin: 0px;
}

.content_repositori_star_icon_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}